.gitignore

# ignore notebooks
*.ipynb

# ignore data
data/

# ignore logs
torchlogs/

# ignore geometries
geometries/

# publish the working model
/models/*
!/models/8_8_8_grid_state_16_mod.pth

# pycache
/__pycache__


